@{
    ViewBag.Title = "הוסף מומחה";
}

<div id="cntntDiv" contenteditable="false" style="height:100%;resize:none;overflow-y:auto;min-width:inherit;min-height:200px;border-width:thin;border-style: none;font-family:sans-serif;border-color:#555555;font-size:small;font-weight:400;" dir="rtl">
    <table style="padding:10px 5px;border: 0px solid #ccc;margin:auto;">
        <tr style="background-color:white;border-radius:5px;">
            <td style="padding:3px;font-weight:600;text-align:right;color:black;border: 0px solid #ccc;border-radius:5px;" colspan="2">
                <div style="height:10px;border-top-left-radius:5px;border-top-right-radius:10px;background:linear-gradient(to left, #E3E4FA , white);"></div>
                <div style="padding-right:20px;height:20px;border-top-left-radius:0px;border-top-right-radius:0px;background:linear-gradient(to left, #E3E4FA , white);">
                    הוספת מומחה ממשלתי חדש
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:3px;font-weight:600;text-align:right;">
                שם פרטי
            </td>
            <td style="padding:3px;font-weight:600;text-align:center;">
                <input id="firstname" class="form-control" oninput="validate('firstname', 'Letters');" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;" type="text" />
            </td>
        </tr>
        <tr>
            <td style="padding:3px;font-weight:600;text-align:right;">
                שם משפחה
            </td>
            <td style="padding:3px;font-weight:600;text-align:center;">
                <input id="lastname" class="form-control" oninput="validate('lastname', 'Letters');" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;" type="text" />
            </td>
        </tr>
        <tr>
            <td style="padding:3px;font-weight:600;text-align:right;">
                אימייל
            </td>
            <td style="padding:3px;font-weight:600;text-align:center;">
                <input id="_email" class="form-control" oninput="validate('_email', 'Email');" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;" type="text" />
            </td>
        </tr>
        <tr>
            <td style="padding:3px;font-weight:600;text-align:right;">
                טלפון
            </td>
            <td style="padding:3px;font-weight:600;text-align:center;">
                <input id="phone" class="form-control" oninput="validate('phone', 'Phone');" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;" type="tel" />
            </td>
        </tr>
        <tr>
            <td style="padding:3px;font-weight:600;text-align:right;">
                פלפון
            </td>
            <td style="padding:3px;font-weight:600;text-align:center;">
                <input id="cell_phone" class="form-control" oninput="validate('cell_phone', 'Phone');" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;" type="tel" />
            </td>
        </tr>
        <tr>
            <td style="padding:3px;font-weight:600;text-align:right;">
                משרד
            </td>
            <td style="padding:3px;font-weight:600;text-align:center;">
                <select id="office" class="form-control" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;">
                    @{
                        List<Dictionary<string, string>> offices = (List<Dictionary<string, string>>)ViewData["offices"];
                        foreach (Dictionary<string, string> office in offices)
                        {
                            <option value="@office["id"]">@office["office_name"]</option>
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td style="padding:3px;font-weight:600;text-align:right;">
                סיסמה
            </td>
            <td style="padding:3px;font-weight:600;text-align:center;">
                <input id="password" class="form-control" oninput="validate('password', 'Password');" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;" type="text" />
            </td>
        </tr>
        <tr style="background-color:white;">
            <td style="padding:3px;font-weight:600;text-align:left;color:whitesmoke;" colspan="2">
                <button id="choose" onclick="addGovExp();" class="btn btn-primary btn-xs">הוסף</button>
            </td>
        </tr>
    </table>
</div>
<script>

    function validate(id, type) {
        var data = {
            "value": document.getElementById(id).value,
            "type": type
        };
        $.ajax({
            url: "/Request/ValidateField",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function (response) {
                if (response.Success) {
                    document.getElementById(id).style.borderRightColor = '#38ACEC';
                }
                else {
                    document.getElementById(id).style.borderRightColor = '#ff0000';
                }
            },
            error: function () {
                alert('Fail!!!');
            }
        });
    }

    function addGovExp() {
        var data = {
            "fname": $('#firstname').val(),
            "lname": $('#lastname').val(),
            "email": $('#email').val(),
            "office": $('#office').val(),
            "password": $('#password').val(),
            "phone": $('#phone').val(),
            "cellPhone": $('#cell_phone').val()
        };
        $.ajax({
            url: "/Admin/AddNewMomhee",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function (response) {
                if (response.Success) {
                    alert("מומחה הוסף בהצלחה.");
                    location.replace('MomhimManage');
                }
                else {
                    alert("נכשל");
                }
            },
            error: function () {
                alert('Fail!!!');
            }
        });
    }
</script>